// COLORS OF WEBSITE
$whiteColor: #f1f1f1;
$darkColor: #121212;
$secondDarkColor: #303030;
$mainColor: #fe6c0c;
$secondMainColor: #6c48c2;
$error: #d60000;

$zIndex: (
    nav: 1000,
    slidder: 10001,
    footer: 500,
);
